.espaco {
  padding-bottom: 3.75rem;
  background: url('./images/espaco/bg.png') no-repeat top 500px left
    calc((50% - 650px));

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 1.75rem;
    background: var(--dark-purple);
    margin-bottom: 3.75rem;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 78px;
    line-height: 93.5%;
    letter-spacing: -0.07em;
    margin-bottom: 1.875rem;

    @include media-down(small-down) {
      font-size: 38px;
    }
  }

  &__text {
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 3.125rem;
  }

  &__wrapper {
    margin-bottom: 3.75rem;
  }

  &__link {
    display: block;
    width: 100%;
    max-width: 270px;
    padding: 1.625rem 1rem;
    border-radius: 0.9375rem;
    background: var(--yellow);
    color: var(--purple);
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.02em;
    transition: all 0.3s;
    font-size: 1.25rem;

    &:hover {
      box-shadow: 0px 0px 30px rgba(255, 188, 1, 0.89);
    }

    @include media-down(small-down) {
      margin: 0 auto;
    }
  }

  &__linkWrapper {
    display: grid;
    align-items: center;

    @include media-up(small-up) {
      gap: 3.75rem;
      grid-template-columns: 1fr 270px 1fr;
    }

    &:hover {
      .espaco__balls {
        background-position: 0;
      }
    }
  }

  &__balls {
    overflow: hidden;
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(
      90deg,
      var(--yellow) 50%,
      var(--dark-purple) 50%
    );
    background-size: 200%;
    background-position: center right;
    transition: all 0.3s;

    @include media-down(small-down) {
      display: none;
    }

    div {
      width: 28px;
      height: 28px;
      flex-shrink: 0;
      background: transparent;
      overflow: hidden;
      border-radius: 50%;
      box-shadow: 0 0 0 20px var(--purple);

      @include media-up(xx-large-up) {
        box-shadow: 0 0 0 23px var(--purple);
      }
    }

    &--left {
      transform: rotate(180deg);
      div {
        margin-right: 1.25rem;
      }
    }

    &--right {
      div {
        margin-right: 1.25rem;
      }
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem 0.5rem;

    @include media-up(small-up) {
      grid-template-columns: repeat(12, 1fr);
    }

    @include media-up(medium-up) {
      gap: 1.875rem;
    }

    a {
      display: block;
      border: 0.5rem solid var(--light-purple);
      border-radius: 1.25rem;
      overflow: hidden;
      transition: all 1s;

      &:hover {
        border-color: var(--yellow);
      }

      @include media-up(medium-up) {
        border: 0.9375rem solid var(--light-purple);
        border-radius: 1.875rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      &:nth-of-type(5n + 1) {
        @include media-up(small-up) {
          grid-column: 1 / 7;
        }

        @include media-up(medium-up) {
          grid-column: 1 / 9;
        }
      }

      &:nth-of-type(5n + 2) {
        @include media-up(small-up) {
          grid-column: 7 / 13;
        }

        @include media-up(medium-up) {
          grid-column: 9 / 13;
        }
      }

      &:nth-of-type(5n + 3) {
        @include media-up(small-up) {
          grid-column: 1 / 5;
        }

        @include media-up(medium-up) {
          grid-column: 1 / 4;
        }
      }

      &:nth-of-type(5n + 4) {
        @include media-up(small-up) {
          grid-column: 5 / 9;
        }

        @include media-up(medium-up) {
          grid-column: 4 / 10;
        }
      }

      &:nth-of-type(5n + 5) {
        @include media-up(small-up) {
          grid-column: 9 / 13;
        }

        @include media-up(medium-up) {
          grid-column: 10 / 13;
        }
      }
    }
  }
}
