:root {
  /* Colors */
  --purple: #7a4aab;
  --light-purple: #a776de;
  --dark-purple: #623a8a;
  --white: #fff;
  --yellow: #ffbc01;

  /* Typography */
  --main-font: 'Quicksand', sans-serif;

  /* Units */
  --container-xxl: 90rem; // 1440px
  --container-xl: 71.25rem; // 1140px
  --container-lg: 60rem; // 960px
  --container-md: 45rem; // 720px
  --container-sm: 33.75rem; // 540px
  --gutter: 0.9375rem; // 15px
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: var(--white);
  font-family: var(--main-font);
  background: var(--purple);
}

a {
  color: var(--white);
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  padding-left: calc(var(--gutter) * 2);
  padding-right: calc(var(--gutter) * 2);

  @include media-up(small-up) {
    padding-left: 0;
    padding-right: 0;
    max-width: var(--container-sm);
  }

  @include media-up(medium-up) {
    max-width: var(--container-md);
  }

  @include media-up(large-up) {
    max-width: var(--container-lg);
  }

  @include media-up(x-large-up) {
    max-width: var(--container-xl);
  }

  @include media-up(xx-large-up) {
    max-width: var(--container-xxl);
  }
}

.no-overflow {
  overflow: hidden;
}

.train-animation {
  overflow: hidden;

  img {
    animation: trainTransition 10s infinite linear;
    position: relative;
    top: -4px;
  }
}

@keyframes trainTransition {
  0% {
    transform: translateX(-200px);
  }

  50% {
    transform: translateX(calc(100vw + 110px));
  }

  100% {
    transform: translateX(-110px);
  }
}
