.home {
  padding-top: 2.25rem;
  padding-bottom: 4rem;
  position: relative;

  @include media-up(medium-up) {
    padding-top: 4.875rem;
    padding-bottom: 12.125rem;
  }

  &__container {
    display: grid;
    background: url('./images/home/home-bg-1.png') no-repeat top right 470px;

    @include media-up(medium-up) {
      grid-template-columns: repeat(12, 1fr);
      gap: 1.875rem;
    }
  }

  &__content {
    @include media-up(medium-up) {
      grid-column: 7 / 13;
      padding-left: 1.875rem;
    }

    @include media-up(x-large-up) {
      grid-column: 8 / 13;
    }
  }

  &__title {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    margin-bottom: 1.5rem;

    &--desktop {
      @include media-down(medium-down) {
        display: none;
      }
    }

    &--mobile {
      display: none;
      @include media-down(medium-down) {
        display: block;
      }
    }

    @include media-down(medium-down) {
      text-align: center;
    }

    @include media-up(x-large-up) {
      font-size: 5.25rem;
      line-height: 93.5%;
    }

    @include media-up(xx-large-up) {
      font-size: 6.9375rem;
    }
  }

  &__text {
    font-size: 1.125rem;
    line-height: 1.5;
    margin-bottom: 3.375rem;

    @include media-down(medium-down) {
      text-align: center;
    }

    @include media-up(xx-large-up) {
      font-size: 1.25rem;
    }
  }

  &__links {
    @include media-up(small-up) {
      display: flex;
    }
  }

  &__link {
    display: block;
    border-radius: 0.9375rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    padding: 1.5rem 1rem;
    line-height: 93.5%;
    text-align: center;
    transition: all 0.3s;

    @include media-up(xx-large-up) {
      font-size: 1.25rem;
      padding: 1.6875rem 1rem 1.5625rem;
    }

    &:nth-child(1) {
      background: var(--yellow);
      color: var(--purple);

      @include media-down(small-down) {
        margin-bottom: 1.25rem;
      }

      @include media-up(small-up) {
        margin-right: 1.25rem;
        width: 100%;
        max-width: 270px;
      }

      @include media-up(xx-large-up) {
        margin-right: 1.875rem;
      }

      &:hover {
        box-shadow: 0px 0px 30px rgba(255, 188, 1, 0.89);
      }
    }

    &:nth-child(2) {
      border: 0.125rem dashed var(--yellow);
      color: var(--yellow);

      @include media-up(small-up) {
        width: 100%;
        max-width: 185px;
      }

      &:hover {
        background: var(--yellow);
        color: var(--purple);
        border: 0.125rem solid var(--yellow);
        box-shadow: 0px 0px 30px rgba(255, 188, 1, 0.89);
      }
    }
  }

  &__scroll {
    font-size: 1.125rem;
    line-height: 1.67;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    div {
      width: 2.75rem;
      height: 2.75rem;
      margin-right: 0.5rem;
    }

    @media (max-width: 355px) {
      flex-direction: column;
    }

    @include media-down(medium-down) {
      text-align: center;
      justify-content: center;
      font-size: 1rem;
    }
  }

  &__gallery {
    display: grid;
    gap: 0.9375rem;
    z-index: 800;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 207px 145px;
    gap: 1.125rem 0.875rem;

    @include media-down(small-up) {
      grid-template-rows: 367px 205px;
    }

    @include media-down(medium-down) {
      padding-bottom: 3.75rem;
      padding-right: 1.875rem;
      padding-left: 1.875rem;
    }

    @include media-up(medium-up) {
      position: absolute;
      right: calc(50%);
      width: 400px;
      grid-template-rows: 267px 105px;
    }

    @include media-between(medium-up, xx-large-down) {
      transform: translateY(-50%);
      top: 50%;
    }

    @include media-up(x-large-up) {
      width: 700px;
      grid-template-rows: 467px 186px;
      right: calc(50% - ((var(--container-xxl) / 12) * 1) + 10px);
    }

    @include media-up(xx-large-up) {
      width: 900px;
      grid-template-rows: 600px 240px;
      top: 0;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;

      &:first-of-type {
        grid-column: span 2;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 1.875rem;
      border: 0.5rem solid var(--light-purple);
      cursor: pointer;
      transition: all 1s;

      @include media-up(small-up) {
        border: 0.9375rem solid var(--light-purple);
      }

      &:hover {
        border-color: var(--yellow);
      }
    }
  }
}
