.menu {
  @include media-down(large-down) {
    display: none;
  }

  &.active {
    @include media-down(large-down) {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100vh;
      background: var(--purple);
      z-index: 998;
      opacity: 0;
      animation: showMenu 0.5s forwards;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 3.125rem;
      background: var(--dark-purple);
    }
  }

  &__list {
    @include media-up(large-up) {
      display: flex;
      align-items: center;
      position: relative;
    }

    &::before {
      @include media-down(large-down) {
        content: '';
        display: block;
        width: 132px;
        height: 85px;
        background: url('./images/logo.png') no-repeat center center;
        background-size: contain;
        margin: 0 auto 2.8125rem;
      }
    }
  }

  &__item {
    &:not(:last-child) {
      @include media-down(large-down) {
        margin-bottom: 1.875rem;
      }

      @include media-up(large-up) {
        margin-right: 1.875rem;
      }
    }

    &:last-child {
      @include media-down(large-down) {
        margin-top: 3.125rem;
      }
    }
  }

  &__link {
    display: block;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.375rem;
    transition: all 0.3s;

    &:hover {
      color: var(--yellow);
    }

    @include media-down(large-down) {
      text-align: center;
      font-size: 1.625rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &::after {
      @media (max-width: 400px) {
        box-shadow: -2rem 0 var(--dark-purple), -4rem 0 var(--dark-purple);
      }

      @include media-down(large-down) {
        content: '';
        display: block;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background: var(--dark-purple);
        box-shadow: -2rem 0 var(--dark-purple), -4rem 0 var(--dark-purple),
          2rem 0 var(--dark-purple);
      }
    }

    &::before {
      @media (max-width: 400px) {
        box-shadow: 2rem 0 var(--dark-purple), 4rem 0 var(--dark-purple);
      }

      @include media-down(large-down) {
        content: '';
        display: block;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background: var(--dark-purple);
        box-shadow: 2rem 0 var(--dark-purple), 4rem 0 var(--dark-purple),
          -2rem 0 var(--dark-purple);
      }
    }

    &--button {
      background: var(--yellow);
      color: var(--purple);
      line-height: 1;
      padding: 0.9375rem 2.625rem;
      border-radius: 0.9375rem;
      transition: all 0.3s;

      &:hover {
        box-shadow: 0px 0px 30px rgba(255, 188, 1, 0.89);
        color: var(--purple);
      }

      @include media-down(large-down) {
        display: block;
        font-size: 1.125rem;
        width: 320px;
        max-width: 375px !important;
        padding-right: 1rem;
        padding-left: 1rem;
      }

      &::after {
        display: none !important;
      }

      &::before {
        display: none !important;
      }
    }
  }
}

@keyframes showMenu {
  to {
    opacity: 1;
  }
}
