.sobre {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  background-color: var(--white);

  @include media-up(x-large-up) {
    background-image: url('./images/sobre/sobre-bg.png');
    background-position: center right -70%;
    background-repeat: no-repeat;
  }

  @media (min-width: 1280px) {
    background-position: center right -40%;
  }

  @media (min-width: 1440px) {
    background-position: center right -15%;
  }

  @media (min-width: 1600px) {
    background-position: center right -5%;
  }

  &__title {
    font-weight: 700;
    max-width: 552px;
    line-height: 93.5%;
    letter-spacing: -0.07em;
    font-size: 78px;
    margin-bottom: 1.875rem;
    color: var(--dark-purple);

    @include media-down(small-down) {
      font-size: 38px;
    }

    @include media-down(large-down) {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }

  &__text {
    color: var(--dark-purple);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 3.125rem;
    max-width: 590px;

    @include media-down(large-down) {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }

  &__link {
    max-width: 270px;
    display: block;
    background: var(--purple);
    color: var(--yellow);
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: -0.02em;
    padding: 1.625rem 1rem;
    border-radius: 0.9375rem;
    text-align: center;
    transition: all 0.3s;

    &--desktop {
      @include media-down(large-down) {
        display: none;
      }
    }

    &--mobile {
      display: none;
      @include media-down(large-down) {
        display: block;
      }
    }

    &:hover {
      box-shadow: 0px 0px 30px #7a4aab;
    }

    @include media-down(large-down) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__image {
    @include media-down(large-down) {
      margin: 0 auto;
    }

    img {
      @include media-down(large-down) {
        margin: 0 auto;
      }
    }

    @include media-up(large-up) {
      position: absolute;
      width: 370px;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }

    @include media-up(x-large-up) {
      width: 470px;
      top: 50%;
      transform: translateY(-50%);
    }

    @include media-up(xx-large-up) {
      width: 570px;
      top: -25px;
      transform: none;
    }
  }
}
